swagger: "2.0"
info:
  description: "This is the auth service for Muxi-X(Called 木犀内外)'s API document, please make sure you're using the python version server service."
  version: "2.0.0"
  title: "Auth Service v2"
  termsOfService: "http://muxixyz.com/api/auth"
  contact:
    email: "muxistudio@qq.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "pass.muxi-tech.xyz"
basePath: "/auth/api"
tags:
  - name: "auth"
    description: "auth API"
  - name: "oauth"
    description: "oauth2 API"
  - name: "profile"
    description: "profile API"
  - name: "admin"
    description: "管理员接口，需要本地管理员账号的 access token"
schemes:
  - "https"
  - "http"

paths:
  /signup:
    post:
      tags:
        - "auth"
      summary: "Signup a new account for Muxi-X."
      description: "Please make sure your email haven't signup."
      operationId: "user-signup"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Signup a user need username, email and passsword."
          required: true
          schema:
            $ref: "#/definitions/UserSignup"
      responses:
        200:
          description: "OK"
          schema:
            required:
              - id
            properties:
              id:
                type: "integer"
                format: "int64"
        401:
          description: "Username duplicated"
        402:
          description: "Email duplicated"
        403:
          description: "Bad Request"

  /signin:
    post:
      tags:
        - "auth"
      summary: "Login for Muxi-X."
      description: "Please make sure your username and password are right."
      operationId: "user-login"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Login need username(indeed username or email) and password base64."
          required: true
          schema:
            $ref: "#/definitions/UserLogin"
      responses:
        200:
          description: "OK"
          schema:
            required:
              - user_id
              - token
            properties:
              user_id:
                type: "integer"
                format: "int64"
              token:
                type: "string"
        400:
          description: "Password incorrect."
        401:
          description: "User not found or Bad Request."

  /check_name:
    get:
      tags:
        - "auth"
      summary: "Check the username is using or not."
      description: "Please make sure the query string you send include username."
      operationId: "check-username"
      produces:
        - "application/json"
      parameters:
        - name: "username"
          in: "query"
          description: "The username ready to check."
          required: true
          type: "string"
      responses:
        200:
          description: "Username nobody using."
        400:
          description: "Username someone using it."

  /check_email:
    get:
      tags:
        - "auth"
      summary: "Check the email is using or not."
      description: "Please make sure the query string you send include email."
      operationId: "check-email"
      produces:
        - "application/json"
      parameters:
        - name: "email"
          in: "query"
          description: "The email ready to check."
          required: true
          type: "string"
      responses:
        200:
          description: "Email nobody using."
        400:
          description: "Email someone using it."

  /check_token:
    get:
      tags:
        - "auth"
      summary: "Check the token and email is valid or not."
      description: "Please add the token and email to the query parameters"
      operationId: "check-token"
      produces:
        - "application/json"
      parameters:
        - name: "email"
          in: "query"
          description: "The email to check."
          required: true
          type: "string"
        - name: "token"
          in: "query"
          description: "The token to check"
          required: true
          type: "string"
      responses:
        200:
          description: "OK"
        400:
          description: "Bad Request"
        404:
          description: "User not found"
        500:
          description: "Internal error."

  /email:
    get:
      tags:
        - "auth"
      summary: "Get the email by username."
      description: "Please make sure the query string you send include username."
      operationId: "get-email"
      produces:
        - "application/json"
      parameters:
        - name: "username"
          in: "query"
          description: "The username for getting email."
          required: true
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            required:
              - email
            properties:
              email:
                type: "string"
                format: "email"
        404:
          description: "User not found."

  /password/get_captcha:
    post:
      tags:
        - "auth"
      summary: "Get captcha for reset password."
      description: "Please make sure your email address are right."
      operationId: "reset-getCaptcha"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Reset password need email address."
          required: true
          schema:
            $ref: "#/definitions/GetCaptcha"
      responses:
        200:
          description: "Captcha be sent."

  /password/check_captcha:
    post:
      tags:
        - "auth"
      summary: "Post captcha for reset password."
      description: "Please make sure your email address and captcha are right."
      operationId: "reset-postCaptcha"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Reset password need email address."
          required: true
          schema:
            $ref: "#/definitions/PostCaptcha"
      responses:
        200:
          description: "Captcha is OK."
        403:
          description: "Bad Request"
        404:
          description: "User not found."

  /password/reset:
    post:
      tags:
        - "auth"
      summary: "Reset the password."
      description: "Reset password need captcha, email address and new password."
      operationId: "reset-password"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Reset password need email address."
          required: true
          schema:
            $ref: "#/definitions/ResetPassword"
      responses:
        200:
          description: "Reset OK."
        403:
          description: "Bad Request"
        404:
          description: "User not found."
  /oauth:
    post:
      tags:
        - "oauth"
      summary: "login and get oauth code"
      parameters:
        - in: query
          name: response_type
          description: must be code
          required: true
          type: string
        - in: query
          name: client_id
          required: true
          type: string
        - in: query
          name: token_exp
          required: false
          type: string
          description: 过期时间（s）
        - in: query
          name: scope
          required: false
          type: string
          description: "空格分隔的 scope 列表。带上 `muxi:member` 时只有木犀团队成员能拿到授权码。**必须放 query，放 body 读不到** —— `client_id` 那几个参数走的是 `r.FormValue`，JSON body 不会被解析。"
        - in: body
          name: data
          schema:
            required:
              - username
              - password
            properties:
              username:
                type: string
              password:
                type: string
                description: base64
      responses:
        200:
          description: ok
          schema:
            type: object
            properties:
              code:
                type: string
              expired:
                type: integer
        403:
          description: "请求了 `muxi:member` 但当前账号不是木犀团队成员（错误码 40008）。注意这是本接口唯一一个走非 200 的分支，其他失败都是 HTTP 200 + 业务错误码，前端需要单独处理。"

  /oauth/token:
    post:
      tags:
        - "oauth"
      summary: "get access token"
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - in: query
          name: response_type
          description: must be token
          required: true
          type: string
        - in: query
          name: grant_type
          description: must be authorization_code
          required: true
          type: string
        - in: query
          name: client_id
          required: true
          type: string
        - in: formData
          name: client_secret
          required: true
          type: string
        - in: formData
          name: code
          required: true
          type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/AccessToken"

  /oauth/token/refresh:
    post:
      tags:
        - "oauth"
      summary: "refresh access token"
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - in: query
          name: grant_type
          description: must be refresh_token
          required: true
          type: string
        - in: query
          name: client_id
          required: true
          type: string
        - in: formData
          name: client_secret
          required: true
          type: string
        - in: formData
          name: refresh_token
          required: true
          type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/AccessToken"

  /oauth/store:
    post:
      tags:
        - "oauth"
      summary: "admin registers oauth client with approved domain"
      description: "Create an OAuth client after administrator approval. The request must include an OAuth access token for a local admin user. CAS principals are not allowed. The domain must be an HTTPS origin without path, query, fragment, localhost, IP address, or wildcard."
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: header
          name: token
          description: "OAuth access token for a local user with OAuth client management permission."
          required: true
          type: string
        - in: body
          name: data
          schema:
            required:
              - domain
            properties:
              domain:
                type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/ClientStore"
        401:
          description: "Invalid or missing access token."
        403:
          description: "Admin permission is required."

  /oauth/cas/callback:
    get:
      tags:
        - "oauth"
      summary: "handle CAS callback and redirect with oauth code"
      description: "This endpoint is used as the CAS service callback. The client should first redirect the browser to CAS login with a service URL that points to this endpoint and includes client_id, callback_url and optional token_exp. callback_url must be HTTPS and its origin must exactly match the registered OAuth client domain. After CAS login succeeds, this service validates the CAS ticket, resolves or creates a local user through user_identities, generates an OAuth authorization code whose subject is the local users.id, and finally redirects to callback_url with the code query parameter."
      parameters:
        - in: query
          name: ticket
          description: "CAS service ticket returned by CAS after successful login."
          required: true
          type: string
        - in: query
          name: client_id
          description: "OAuth client id that should receive the authorization code."
          required: true
          type: string
        - in: query
          name: callback_url
          description: "Business callback URL that will receive the generated OAuth authorization code."
          required: true
          type: string
        - in: query
          name: token_exp
          required: false
          description: "Optional access token expiry in seconds, passed through to the existing OAuth issuing logic."
          type: string
      responses:
        302:
          description: "Redirect to callback_url with the generated code query parameter."
        400:
          description: "Missing required callback parameters such as ticket, client_id or callback_url."
        401:
          description: "Invalid, expired or already-consumed CAS ticket."
        404:
          description: "Reserved for historical compatibility. The current implementation resolves or creates local users for CAS identities."

  /admin/oauth/store:
    post:
      tags:
        - "oauth"
      summary: "admin registers oauth client with approved domain"
      description: "Create an OAuth client after administrator approval. The request must include an OAuth access token for a local admin user. CAS principals are not allowed. The domain must be an HTTPS origin without path, query, fragment, localhost, IP address, or wildcard."
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: header
          name: token
          description: "OAuth access token for a local user with OAuth client management permission."
          required: true
          type: string
        - in: body
          name: data
          schema:
            required:
              - domain
            properties:
              domain:
                type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/ClientStore"
        401:
          description: "Invalid or missing access token."
        403:
          description: "Admin permission is required."

  /user:
    get:
      tags:
        - "profile"
      summary: "get user info"
      description: "下游判断账号是不是木犀成员的唯一入口。`is_muxi_member` 和 `member_profile` 是新增字段；`roles` 永远是非空数组。OAuth scope 只在授权时拦截，做不到每次业务请求鉴权，所以已签发的 token 是否仍然对应一个在册成员，必须靠回查本接口。"
      parameters:
        - in: header
          name: token
          description: oauth2 access token
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/UserInfo"

  /admin/members:
    get:
      tags:
        - "admin"
      summary: "list muxi members"
      description: "需要本地管理员账号的 access token。"
      parameters:
        - in: header
          name: token
          description: "OAuth access token for a local admin user."
          required: true
          type: string
        - in: query
          name: page
          required: false
          type: integer
          description: "从 1 开始，默认 1"
        - in: query
          name: page_size
          required: false
          type: integer
          description: "默认 20，上限 100，超出会被压到 100"
        - in: query
          name: group
          required: false
          type: string
          description: "按组别精确过滤"
        - in: query
          name: query
          required: false
          type: string
          description: "模糊匹配 real_name / student_id / username / email"
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/MemberList"
        401:
          description: "Invalid or missing access token."
        403:
          description: "Admin permission is required."
    post:
      tags:
        - "admin"
      summary: "grant muxi membership to an existing account"
      description: "把已有账号授权为木犀成员。学号唯一性在应用层校验，空学号豁免。"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: header
          name: token
          description: "OAuth access token for a local admin user."
          required: true
          type: string
        - in: body
          name: data
          schema:
            required:
              - user_id
              - group
            properties:
              user_id:
                type: integer
              real_name:
                type: string
              student_id:
                type: string
              group:
                type: string
                description: "Frontend / Backend / Design / Product / Operation 之一"
              join_year:
                type: integer
              personal_blog:
                type: string
              github:
                type: string
              zhihu:
                type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/MemberProfile"
        400:
          description: "组别不在白名单（20603）、学号已被占用（20604）、或者该账号已经是成员（20602）。"
        401:
          description: "Invalid or missing access token."
        403:
          description: "Admin permission is required."
        404:
          description: "user_id 对应的账号不存在（20102）。"

  /admin/members/{user_id}:
    put:
      tags:
        - "admin"
      summary: "update a muxi member profile"
      description: "请求体里所有字段可选，零值表示不改这一项。因为空值等于不修改，所以这个接口没法把字段改回空串。"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: header
          name: token
          description: "OAuth access token for a local admin user."
          required: true
          type: string
        - in: path
          name: user_id
          required: true
          type: integer
        - in: body
          name: data
          schema:
            properties:
              real_name:
                type: string
              student_id:
                type: string
              group:
                type: string
              join_year:
                type: integer
              personal_blog:
                type: string
              github:
                type: string
              zhihu:
                type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/MemberProfile"
        400:
          description: "组别不在白名单（20603）或学号已被别的成员占用（20604）。"
        401:
          description: "Invalid or missing access token."
        403:
          description: "Admin permission is required."
        404:
          description: "该账号不是木犀成员（20601）。"
    delete:
      tags:
        - "admin"
      summary: "revoke a muxi membership"
      description: "删除成员档案，并撤销该用户已签发的 OAuth token。注意撤销只能让 refresh token 立即失效：已签发的 access token 是自包含的 JWT，在剩余有效期内（最长 30 天）仍可通过本地验签使用，要做到即时失效，下游必须回查 GET /user。"
      parameters:
        - in: header
          name: token
          description: "OAuth access token for a local admin user."
          required: true
          type: string
        - in: path
          name: user_id
          required: true
          type: integer
      responses:
        200:
          description: ok
        401:
          description: "Invalid or missing access token."
        403:
          description: "Admin permission is required."
        404:
          description: "该账号不是木犀成员（20601）。"

  /admin/users/search:
    get:
      tags:
        - "admin"
      summary: "search accounts for member authorization"
      parameters:
        - in: header
          name: token
          description: "OAuth access token for a local admin user."
          required: true
          type: string
        - in: query
          name: q
          required: true
          type: string
          description: "匹配 username / email / student_id，最多返回 20 条。"
      responses:
        200:
          description: ok
          schema:
            type: object
            properties:
              list:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: integer
                    username:
                      type: string
                    email:
                      type: string
                    avatar_url:
                      type: string
                    real_name:
                      type: string
                    student_id:
                      type: string
                    is_muxi_member:
                      type: boolean
        400:
          description: "缺少 q。"
        401:
          description: "Invalid or missing access token."
        403:
          description: "Admin permission is required."

definitions:
  UserSignup:
    type: "object"
    required:
      - "username"
      - "email"
      - "password"
    properties:
      username:
        type: "string"
      email:
        type: "string"
        format: "email"
        example: "muxistudio@qq.com"
      password:
        type: "string"
        format: "base64"
  UserLogin:
    type: "object"
    required:
      - "username"
      - "password"
    properties:
      username:
        type: "string"
        example: "muxistudio or muxistudio@qq.com"
      password:
        type: "string"
        format: "base64"
  GetCaptcha:
    type: "object"
    required:
      - "email"
    properties:
      email:
        type: "string"
        example: "email"
  PostCaptcha:
    type: "object"
    required:
      - "captcha"
      - "email"
    properties:
      captcha:
        type: "string"
      email:
        type: "string"
        format: "email"
        example: "muxistudio@qq.com"
  ResetPassword:
    type: "object"
    required:
      - "captcha"
      - "email"
      - "new_password"
    properties:
      captcha:
        type: "string"
      email:
        type: "string"
        format: "email"
        example: "muxistudio@qq.com"
      new_password:
        type: "string"
  AccessToken:
    type: "object"
    properties:
      access_token:
        type: string
      access_expired:
        type: integer
      refresh_token:
        type: string
      refresh_expired:
        type: integer
  ClientStore:
    type: "object"
    properties:
      client_id:
        type: string
      client_secret:
        type: string
  UserInfo:
    type: "object"
    properties:
      user_id:
        type: integer
        description: "本地账号 id。历史 cas:<username> token 反查不到本地账号时为 0。"
      student_id:
        type: string
      is_muxi_member:
        type: boolean
        description: "下游判断内部成员身份就认这个字段。"
      roles:
        type: array
        description: "永远是非空数组（不会出现 null），可能包含 user / muxi_member / moderator / admin。"
        items:
          type: string
      member_profile:
        description: "非成员为 null，用之前先判空。"
        $ref: "#/definitions/MemberProfile"
      email:
        type: string
      birthday:
        type: string
      hometown:
        type: string
      group:
        type: string
      timejoin:
        type: string
      timeleft:
        type: string
      username:
        type: string
      role_id:
        type: integer
      left:
        type: boolean
      info:
        type: string
      avatar_url:
        type: string
      personal_blog:
        type: string
      github:
        type: string
      flickr:
        type: string
      weibo:
        type: string
      zhihu:
        type: string
  MemberProfile:
    type: "object"
    properties:
      user_id:
        type: integer
      real_name:
        type: string
      student_id:
        type: string
      group:
        type: string
        description: "管理端写入时只接受 Frontend / Backend / Design / Product / Operation；读出来可能是「前端」「Android」这类历史自由文本，不要拿白名单过滤。"
      join_year:
        type: integer
        description: "老数据里 timejoin 解析不出年份时为 null。"
      personal_blog:
        type: string
      github:
        type: string
      zhihu:
        type: string
      created_at:
        type: string
        description: "RFC3339。历史成员取的是迁移时刻，不是真实入队时间。"
      updated_at:
        type: string
  MemberListItem:
    allOf:
      - $ref: "#/definitions/MemberProfile"
      - type: "object"
        properties:
          username:
            type: string
          email:
            type: string
          avatar_url:
            type: string
  MemberList:
    type: "object"
    properties:
      list:
        type: array
        items:
          $ref: "#/definitions/MemberListItem"
      total:
        type: integer
      page:
        type: integer
      page_size:
        type: integer
